<div class="book-body">
  <%= attachment_image_tag @book, :image %>
  <p>投稿ユーザー画像：<%= image_tag('sample-author1.jpg') %></p>
  <p><%= @book.title %></p>
  <p>説明：<%= @book.opinion %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
